* {
    margin:0;
    padding:0;
}

body {
    background-image:url(../img/fond-site.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    font-family: Verdana, sans-serif;
}

h1, h2{
    text-align:center;
}
h2{
    margin-bottom:1em;
}

input[type=text], input[type=number] {
    padding: 0.2em 0.2em;
    margin-top:0.2em;
    margin-bottom:0.2em;
}

.little-text {
    font-size: 80%;
    margin-top: 1em;
    margin-bottom: 1em;
}

#header {
    width: 100%;
    margin: 0;
    padding: 1em;
    background-color: #DF0101;
    color:white;
    font-variant:small-caps;
}

#content{
    margin:1em;
}

#compute {
    margin-top:1em;
    border-radius: 8px;
    padding: 1em 1em;
    font-size: 1em;
    background-color: #DF0101;
    color: white;
    font-variant: small-caps;
}
#compute:hover {
    background-color: white;
    border-color: #DF0101;
    color: #DF0101;
}

#actors{
    margin-top:2em;
}